<div class="container mt-5">
 <div class="row">
  <div class="col-lg-8 offset-lg-2">
   <div class="card">
    <div class="card-body text-center">
      <h5 class="titulo">ANTI CRIME TEAM</h5>
    </div>
  </div>
 </div>
</div>

<div class="row mt-4">
    <div class="col-lg-6">
    <div class="card">
        <div class="card-body text-center">
          <h5 class="titulo">{{action | uppercase}} SUPERHERO</h5>

          <form [formGroup]="form" (ngSubmit)="saveSuperhero()">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fas fa-mask" [class.green-icon]="this.form.get('heroName')?.valid" [class.red-icon]="this.form.get('heroName')?.invalid&& this.form.get('heroName')?.touched"></i></span>
                <input formControlName="heroName" type="text" class="form-control" placeholder="Hero Name" aria-label="Heroname" aria-describedby="basic-addon1">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fas fa-user" [class.green-icon]="this.form.get('realName')?.valid" [class.red-icon]="this.form.get('realName')?.invalid && this.form.get('realName')?.touched"></i></span>
                <input formControlName="realName" type="text" class="form-control" placeholder="Real Name" aria-label="Realname" aria-describedby="basic-addon1">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fab fa-superpowers" [class.green-icon]="this.form.get('superPower')?.valid" [class.red-icon]="this.form.get('superPower')?.invalid && this.form.get('superPower')?.touched"></i></span>
                <input formControlName="superPower" type="text" class="form-control" placeholder="Superpower" aria-label="Superpower" aria-describedby="basic-addon1">
              </div>
              <button type="submit" class="btn btn-success btn-lg">Enlist!</button>
              
          </form>
        </div>
      </div>
    </div>
        <div class="col-lg-6">
        <div class="card">
            <div class="card-body text-center">
              <h5 class="titulo">SUPERHERO LIST</h5>
              <table class="table">
                  <tbody>
                      <tr>
                          <td><b>Superhero Name</b></td>
                          <td><b>Real Name</b></td>
                          <td><b>Superpower</b></td>
                      </tr>
                      <tr *ngFor="let hero of listHeroes; let i = index">
                        <td>{{ hero.heroName }}</td>
                        <td>{{ hero.realName }}</td>
                        <td>{{ hero.power }}</td>
                        <td><i (click)="editHero(hero)" class="fas fa-edit"></i></td>
                        <td><i (click)="deleteHero(hero.id)" class="fas fa-trash-alt"></i></td>
                      </tr>
                  </tbody>  
              </table>
            </div>
          </div>
        </div>
    </div>
</div>

